.gallery {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    list-style: none;
}

.gallery-item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
}

.gallery img {
    display: block;
    max-width: 80%;
    height: auto;
}